<div class="container-fluid">
	<div class="row">
    <div class="col-12 text-center">
    	<h1><%= @question.text %></h1>
    </div>
    <div class="col-12 text-center">
      <%= button_to "<- No", { 
        :controller => "answers",
        :action => "create",
        :id => @answer.id,
        :response => "no"
      }, 
      :class => "btn btn-primary col-6" %>

      <%= button_to "Yes ->", { 
        :controller => "answers",
        :action => "create",
        :id => @answer.id,
        :response => "yes"
      }, 
      :class => "btn btn-primary col-6" %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
    	<%= image_tag(@image.path, class: "img-responsive", alt: "goats") %>
    </div>
  </div>
</div>