<div class="container-fluid">
	<div class="row">
    <div class="col-12 text-center">
    	<h1><%= @question.text %></h1>
    </div>
    <div class="col-12 text-center">
      <%= link_to "<- No", 
      answer_path(:id => @answer.id, :response => "no"), 
      :method => :put, 
      :class => "btn btn-primary col-6" %>      
      <%= link_to "Yes ->", 
      {:controller => 'answers', :action => 'update', :id => @answer.id},
      {:method => :put, :remote => true, :response => "yes"},
      :class => "btn btn-primary col-6" %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
    	<%= image_tag(@image.path, class: "img-responsive", alt: "goats") %>
    </div>
  </div>
</div>